section.four{
    width: 100%;
    margin-bottom: 80px;

    h2{
        width: 75%;
    }
    .list{
        display: flex;
        justify-content: space-between;
        height: fit-content;

        gap: 20px;
    }

}
